<!DOCTYPE html>
<html lang="en" data-ng-app="quizApp">
<head>
  <meta charset='utf-8'>
  <title>Manage MCQ quiz </title>
  <base href="http://localhost/mcq_cw2/" />
<script>document.write('<base href="' + document.location + '" />');</script>
  <script src="<?php echo(JS.'angular.min.js'); ?>"></script>
  <script src="<?php echo(ANGULAR.'admin_question_ang.js'); ?>"></script>
  


<h1> woooooooot </h1>

<body data-ng-controller="questionCtrl">
   <label> {{variable1}} </label>
</body>
</html>
  

